{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="form-container">
    {% include 'messages.html' %}
    <form hx-post="{% url 'calculate_transport_emissions' %}"
          hx-target="#todo-table-body"
          hx-swap="innerHTML"
          hx-on::after-request="this.reset()">
        <div class="form-group">
            <label for="start_date" style="color: #000000;">Start Date:</label>
            <input type="date" class="form-control" id="start_date" name="start_date" required>
        </div>
        <div class="form-group">
            <label for="end_date" style="color: #000000;">End Date:</label>
            <input type="date" class="form-control" id="end_date" name="end_date" required>
        </div>
        <div class="form-group">
            <label for="name-car" style="color: #000000;">Name of Vehicle</label>
            <input type="text" class="form-control" id="name-car" name="name">
        </div>
        <div class="form-group">
            <label for="reg-number" style="color: #000000;">Registration Number</label>
            <input type="text" class="form-control" id="reg-number" name="registration_number">
        </div>
        <div class="form-group">
            <label for="car-type" style="color: #000000;">Vehicle Type:</label>
            <select class="form-control" id="car-type" name='type'>
                <option selected>Choose...</option>
                <option value="Passenger Car">Passenger Car</option>
                <option value="Light-duty Truck">Light-duty Truck</option>
                <option value="Medium- and Heavy-duty Truck">Medium- and Heavy-duty Truck</option>
            </select>
        </div>
        <div class="form-group">
            <label for="fuel" style="color: #000000;">Fuel Type:</label>
            <select class="form-control" id="fuel" name='fuel_type'>
                <option selected>Choose...</option>
                <option value="Petrol">Petrol</option>
                <option value="Diesel Oil">Diesel Oil</option>
                <option value="LPG">LPG</option>
            </select>
        </div>
        <div class="form-group">
            <label for="mile" style="color: #000000;">Mileage</label>
            <input type="number" step="any" class="form-control" id="mile" name="mileage" required>
        </div>
        <div class="form-group">
            <label for="fuel-quantity" style="color: #000000;">Quantity of Fuel used within a month</label>
            <input type="text" class="form-control" id="fuel-quantity" name="fuel_quantity">
        </div>
        <div class="d-flex justify-content-between">
            <a class="btn btn-danger" href="{% url 'calculate_home_heat_emissions' %}">Back</a>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-danger" href="{% url 'calculate_refrigerant_emissions' %}">Next</a>

            </div>
        </div>
    </form>
</div>

<div class="container mt-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="color: #ffffff;">Start Date</th>
                <th style="color: #ffffff;">End Date</th>
                <th style="color: #ffffff;">Car Name</th>
                <th style="color: #ffffff;">Fuel Volume Used</th>
                <th style="color: #ffffff;">Total Emission</th>
                <th style="color: #ffffff;">Actions</th>
            </tr>
        </thead>
        <tbody id="todo-table-body">
            {% include 'transportmodel-partial.html' with transports=transports %}
        </tbody>
    </table>
</div>

{% endblock %}