{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="form-container">
    {% include 'messages.html' %}
    <form hx-post="{% url 'calculate_waste_emissions' %}"
          hx-target="#todo-table-body"
          hx-swap="innerHTML"
          hx-on::after-request="this.reset()">
        {% csrf_token %}
        <div class="form-group">
            <label for="start_date" style="color: #000000;">Start Date:</label>
            <input type="date" class="form-control" id="start_date" name="start_date" required>
        </div>

        <div class="form-group">
            <label for="end_date" style="color: #000000;">End date</label>
            <input type="date" class="form-control" id="end_date" name="end_date" required>
        </div>

        <div class="form-group">
            <label for="distance_travelled" style="color: #000000;">Distance to Waste Disposal Site</label>
            <input type="number" step="any" class="form-control" id="distance_travelled" name="distance_travelled" required>
        </div>

        <div class="form-group">
            <label for="waste_treatment" style="color: #000000;">Treatment type:</label>
            <select class="form-control" id="waste_treatment" name='waste_treatment'>
                <option selected>Choose...</option>
                <option value="Anaerobic Digestion">Anaerobic Digestion</option>
                <option value="Composting">Composting</option>
                <option value="Incineration">Incineration</option>
                <option value="Landfill">Landfill</option>
            </select>
        </div>

        <div class="form-group">
            <label for="vehicle-type" style="color: #000000;">Vehicle type:</label>
            <select class="form-control" id="vehicle-type" name='vehicle_type'>
                <option selected>Choose...</option>
                <option value="Truck">Truck</option>
                <option value="Van">Van</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="waste_mass" style="color: #000000;">Quantity of Waste(kg/MT)</label>
            <input type="number" step="any" class="form-control" id="waste_mass" name="waste_mass" required>
        </div>
        <div class="d-flex justify-content-between">
            <a class="btn btn-danger" href="{% url 'calculate_electricity_emissions' %}">Back</a>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-danger" href="{% url 'calculate_chp_emissions' %}">Next</a>

            </div>
        </div>
    </form>
</div>



<div class="container mt-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="color: #ffffff;">Start Date</th>
                <th style="color: #ffffff;">End Date</th>
                <th style="color: #ffffff;">Waste Mass</th>
                <th style="color: #ffffff;">Waste Treatment Type</th>
                <th style="color: #ffffff;">Total Emission</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="todo-table-body">
          {% include 'wastemodel-partial.html' with wasted=wasted %}
        </tbody>
    </table>
</div>

{% endblock %}